{{ define "main" }}
<h1>DEBUG TAXONOMIE</h1>
<p>Is taxonomy: {{ .IsHome }} {{ .IsSection }} {{ .IsTaxonomy }}</p>
<p>Section: {{ .Section }}</p>
<p>Data.Terms: {{ len .Data.Terms }}</p>
<p>Pages: {{ len .Pages }}</p>
<p>RegularPages: {{ len .RegularPages }}</p>

{{/* ALLE termen forceren */}}
{{ range site.Taxonomies.plaatsen }}
  <p>Term: {{ .Name }} ({{ len .Pages }})</p>
{{ end }}

<div id="map" style="height:400px;"></div>
<script>console.log('Taxonomies:', {{ jsonify (site.Taxonomies.plaatsen | first ) }});</script>
{{ end }}
